@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: lab(39.3875 51.982 -95.6741);
  --primary-foreground: #ffffff;

  --primary-dark: oklab(0.519987 0.0188142 -0.269322);

  --accent-foreground: oklch(0.45 0.2 274);

  --secondary: lab(93.9242 1.57481 -14.9132);
  --secondary-foreground: lab(19.31% 0.75 -8.47);

  --muted-foreground: lab(44.0189 1.98019 -14.7408);

  --border: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-dark: var(--primary-dark);

  --color-accent-foreground: var(--accent-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "font-sans";
}
